@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
body{
  margin: 0;
  background-color: #E5E5E5;
  font-family: 'Inter', sans-serif;
}
/*color*/
.btn-blue{
  background: #039BF0;
}
.text-blue{
  color: #039BF0
}
/* navbar */
.navbar{
  padding: 30px 0;
}
.card{
  padding: 35px;
}
.header{
  font-weight: 500;
   font-size: 14;
}
.link:hover, .link:focus-within{
  background-color: #F2FAFF;
  color: #039BF0;
  border-left: 3px solid #039BF0;
}
